{% extends "base.html" %}

{% block title %}职位详情页{% endblock %}
{% block b_css %}
    <style>.row {
        overflow: hidden;
    }

    .row img {
        float: left;
    }

    .row h3 {
        margin-left: 25px;
    }

    h3 a:link, h3 a:visited {
        text-decoration: none;
        color: black;
    }

    h3 a:hover {
        text-decoration: none;

    }

    .row .jobs {
        float: left;
    }

    .jobs ul {
        list-style: none;
        padding-left: 20px;
        overflow: hidden;
    }

    .jobs ul li {
        float: left;

        margin: 0px 5px;
    }

    .salary {
        color: #ffc81e;
    }

    .cities {
        color: #407623;
    }

    .btn-success {
        margin-left: 60%;
        margin-top: 25px;
    }
    </style>

{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-9 col-xs-12">
            <img src="https://soo9s.me/blogShow.jpg" alt="..." class="img-thumbnail"
             style="float:left;width: 140px; height: 140px;">
        </div>
        <div class="job-detail_job-info">
            <h3 class="job--info--title">>
                <a href="">{{ job.name }}</a>
            </h3>
            <ul class="job-detail__requirements">
                <li class="salary"><span>
                    {{ job.salary_low }}k-{{ job.salary_high }}k
                </span></li>
                <li class="cities">
                {{ job.location }}
                </li>
                <li>{{ job.degree_requirement }}</li>
                <li>{{ job.experience_requirement }}</li>
                <li><span class="ml5 inline-block"></span></li>
            </ul>
            <ul>
                    <li class="tagPopup">
                        <a class="tag" href="/t/node.js" data-toggle="popover" data-placement="bottom"
                                            data-original-title="jquery" data-id="1040000000089918"
                                            data-img="https://sfault-avatar.b0.upaiyun.com/740/312/74031254-1040000000089918_huge100">{{ job.tags }}</a>
                    </li>
            </ul>
        </div>
        <div class="col-sm-6 col-md-6">
            {% if status.status != 1 %}
                <a class="btn btn-success" href="{{ url_for('job.job_apply',id=job.id) }}" role="button">投递简历</a>
            {% else %}
                <a class="btn btn-success" disabled="disabled" role="button">已投简历</a>
            {% endif %}
        </div>
    </div>
    <hr>
    <div class="container job_detail_detail">
        <div class="row">
            <div class="col-xs-12 col-md-9 main mt30">
                <div class="fmt">
                    <h4 class="job-detail_heading--catalog" style="color:red">职位描述</h4>
                     <p> {{ job.job_description }}</p>
                     <h4 class="job_detail_heading--catalog"style="color: red">职位要求</h4>
                     <p> {{ job.job_requirement }}</p>
                </div>
                <p class="mt20 text-muted">{{ job.created_at }}</p>
            </div>
            <div class="col-xs-12 col-xs-12 col-md-3 mt30">
                <div class="job-detail__logo--side">
                    <a href="#" target="_blank">
                        <img alt="company_logo" src="{{ job.company.logo }}">
                    </a>
                    <p class="job-detail__company-name">{{ job.company.name }}</p>
                    <p class="job-detail__company-site">{{ job.company.site }}</p>
                    <p class="job-detail__company-info-desc">{{ job.company.description }}</p>
                    <div class="job-detail__company-info-link">
                        <a class="btn btn-warning" href="#">{{ job.company.counts }}</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
