{% extends "base.html" %}

{% block title %}企业详情页{% endblock %}

{% block b_css %}
    <style>.row {
        overflow: hidden;
    }

    .row img {
        float: left;
    }

    .row h3 {
        margin-left: 25px;
    }

    h3 a:link, h3 a:visited {
        text-decoration: none;
        color: black;
    }

    h3 a:hover {
        text-decoration: none;

    }

    .row .jobs {
        float: left;
    }

    .jobs ul {
        list-style: none;
        padding-left: 20px;
        overflow: hidden;
    }

    .jobs ul li {
        float: left;

        margin: 0px 5px;
    }

    .salary {
        color: #ffc81e;
    }

    .cities {
        color: #407623;
    }
    </style>

{% endblock %}

{% block body %}
    <div class="row mt30 mb30" id="infoBoard">
        <div class="col-md-2 col-sm-3">
            <div class="img-warp">
                <img src="{{ company.logo }}" alt="..." class="img-thumbnail"
             style="float:left;width: 140px; height: 140px;">
            </div>
        </div>
        <div class="col-md-7 col-sm-7">
            <div class="company-name">
                <h3>{{ company.name }}</h3>
                <p class="company-desc ellipsis text-muted">{{ company.description }}</p>
                <ul class="job-detail__requirements">
                    <li class="salary"><span>
                    </span>{{ company.tags }}</li>
                    <li><span class="ml5 inline-block"></span></li>
                </ul
                <div>
                    <a href="{{ company.site }}" rel="nofollow">{{ company.site }}</a>
                    <p>{{ company.name }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="company-detail__detail">
        <div class="row">
            <div class="col-md-9">
                <div class="company-detail__mod">
                    <div class="company-detail__mod--heading">
                        <h4>关于我们</h4>
                    </div>
                    <div class="company-detail__mod--content" id="detailBoard">
                        <div class="mt30 fmt">
                            <p>{{ company.about }}</p>
                        </div>
                    </div>
                </div>
                <div class="company-detail__mod bg-gray">
                    <div class="company-detail__mod--heading mb20" style="margin-bottom:20px;">
                        <h4 class="title-red">公司技术开发栈</h4>
                    </div>
                    <div class="company-detail__mod--content" id="techBoard">
                        <div class="develop-desc fmt">
                            <p>{{ company.stack }}</p>
                        </div>
                    </div>
                </div>
                <div class="company-detail__mod">
                    <div class="company-detail__mod--heading">
                        <h4>特色福利</h4>
                    </div>
                    <div class="company-detail__mod--content" data-mod="benefit" data-proto="benefitsLists">
                        <div class="company-detail__benefit">
                            <div class="row">
                                <div class="col-md-6">
                                    <p class="company-detail__benefit-item">
                                        <span class="benefits benefits-beach"></span>
                                        <span class="text">{{ company.welfares }}</span>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="col-md-3">
                <div class="company-detail__mod">
                    <div class="company-detail__mod--content">
                        <div class="widget-job-list widget-job-list-company-detail">
                            <h5 class="widget-job-list__heading">招聘职位</h5>
                            <ul class="widget-job-list__list">
                                <li class="widget-job-list__item">
                                    <a href="#">
                                        <h3 class="widget-job-list__item--title">数据工程师</h3>
                                    </a>
                                    <p class="widget-job-list__item--detail">
                                        <span class="salary">15k-20k</span>
                                        <span class="degree_requirement">大学本科</span>
                                        <span class="experience_requirement">5years</span>
                                    </p>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>    
            </div>
        </div>
    </div>    
{% endblock %}
